<table>
	<tr>
		<th>Désignation</th>
		<th>Qté</th>
		<th>Unité</th>
		<th>PU</th>
		<th>Total</th>
		<th></th>
	</tr>
	<ng-container *ngFor="let line of list">
		<tr>
			<td> {{line.name}} </td>
			<td> {{printQuantity(line)}} </td>
			<td> {{printUnit(line)}} </td>
			<td> {{printUnitPrice(line)}} </td>
			<td> {{getChildren(line).length}} </td>
			<td *ngIf="line instanceof Group"><button>*</button></td>
		</tr>
		<ng-container [ngTemplateOutlet]="child" [ngTemplateOutletContext]="{$implicit: line, depth: 1}"></ng-container>
	</ng-container>
</table>
<button (click)="addGroup()">Ajouter un groupe</button>

<ng-template #child let-line let-depth="depth">
	<ng-container *ngFor="let sub of getChildren(line)">
		<tr>
			<td [style.--depth]="depth"> {{sub.name}} </td>
			<td> {{printQuantity(sub)}} </td>
			<td> {{printUnit(sub)}} </td>
			<td> {{printUnitPrice(sub)}} </td>
			<td> {{getChildren(sub).length}} </td>
		</tr>
		<ng-container [ngTemplateOutlet]="child"
			[ngTemplateOutletContext]="{$implicit: sub, depth: depth+1}"></ng-container>
	</ng-container>
</ng-template>