<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<table>
	<tr>
		<th>Désignation</th>
		<th>Qté</th>
		<th>Unité</th>
		<th>PU</th>
		<th>Total</th>
		<th></th>
	</tr>
	<ng-container *ngFor="let line of list">
		<ng-container *ngTemplateOutlet="isGroup(line) ? group : entry; context:{$implicit: line, depth: 0}" />
		<ng-container [ngTemplateOutlet]="child" [ngTemplateOutletContext]="{$implicit: line, depth: 1}" />
	</ng-container>
</table>
<button class="group-button" (click)="addGroup()">Ajouter un groupe</button>


<!-- Templates -->
<ng-template #child let-line let-depth="depth">
	<ng-container *ngFor="let sub of getChildren(line)">
		<ng-container *ngTemplateOutlet="isGroup(sub) ? group : entry; context:{$implicit: sub, depth: depth}" />
		<ng-container [ngTemplateOutlet]="child" [ngTemplateOutletContext]="{$implicit: sub, depth: depth+1}" />
	</ng-container>
</ng-template>

<ng-template #entry let-entry let-depth="depth">
	<tr [ngClass]="entry.hidden ? 'hidden' : ''">
		<td [style.--depth]="depth" class="name"> <input type="text" [(value)]="entry.name"> </td>
		<td> <input type="text" [value]="printQuantity(entry)" (input)="updateQuantity(entry, $event)"
				(focusout)="updateEntry(entry)">
		</td>
		<td> <input type="text" [value]="printUnit(entry)" (input)="updateUnit(entry, $event)"> </td>
		<td> <input type="text" [value]="printUnitPrice(entry)" (input)="updateUnitPrice(entry, $event)"
				(focusout)="updateEntry(entry)">
		</td>
		<td style="color:gray"> {{entry.total.toFixed(2)}} </td>
		<td></td>
	</tr>
</ng-template>

<ng-template #group let-group let-depth="depth">
	<tr [ngClass]="group.hidden ? 'hidden' : ''">
		<td [style.--depth]="depth" class="name"> <button class="toggle-button"
				[ngClass]="getToggled(group) ? '' : 'toggled'" (click)="toggleChildren(group)">></button> <input
				type="text" [(value)]="group.name"> </td>
		<td> {{printQuantity(group)}} </td>
		<td> {{printUnit(group)}} </td>
		<td> {{printUnitPrice(group)}} </td>
		<td> {{group.total.toFixed(2)}} </td>
		<td><button (click)="openMenu(group)" class="menu-button">
				<span class="material-symbols-outlined">
					menu
				</span>
			</button>
		</td>
	</tr>
</ng-template>

<app-menu *ngIf="displayMenu" [line]="menuLine" (close)="closeMenu($event)" />