.table-container {
    width: 60vw;
    margin: auto;
	box-shadow: 3px 3px 1em gray;
}

.topbar {
    background-color: dodgerblue;
    padding: 1em;
    margin-bottom: 1em;
}

.topbar > * {
    color: white;
}